*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e0e0;
}

.main{
  width: 400px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}



h1{
  margin-bottom: 20px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.row{
  display: flex;
  background: #e5e5e5;
  text-align: center;
  justify-content: space-between;
  border-radius: 50px;
}
input{
  flex: 1;
  width: 70%;
  padding: 10px;
  border: none;
  background: none;
  outline: none;
}
#btn-add{
  border-radius: 50px;
  border: none;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}
ul{
  margin-top: 20px;
}
li{
  display: flex;
  list-style: none;
  padding: 10px;
  gap: 7px;
  cursor: pointer;
  position: relative;
  align-items: center;

}
.completed{
  color: #888;
  text-decoration: line-through;
}
.completed i{
  color: green;
  text-decoration: line-through;
}
.completed ::before{
  font-weight: 700;
}

.cross fa-solid fa-xmark{
  color: red;

}
span{
  font-size: 18px;
  color: rgb(199, 199, 199);
  cursor: pointer;
  position: absolute;
  right: 0px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
span:hover{
  background: red;
  color: white;
  transition: 10ms ease;
}

.fillter_buttons {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.fillter_buttons button{
  width: 100px;
  flex: 1;
  border-radius: 50px;
  border: none;
  background:  #e9e9e9;
  color: black;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}




